<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132483534-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-132483534-1');
  </script>
  <meta charset="UTF-8">
  <link rel="icon" href="static/favicon.png" type="image/x-icon">
  <title>PYH Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/main.css" />

  <script>
    window.console = window.console || function(t) {};
  </script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
  </script>
</head>

<body translate="no">
  <div class="container">
    <div class="row header">
      <h1>PYH Calculator &nbsp;</h1>
      <h3>A simple tool to help with budgeting productive year hours (PYH).</h3>
    </div>
    <div class="row body">
      <form method="POST" action=".">
        <ul>

          <li>
            <p class="left">
              <label for="hours_worked"><span class="tool" data-tip="This total should include all PYH hours worked, from the beggining of the calendar year until (but not including) today. The total should also include any used training hours."
                  tabindex="1">hours worked
              </label>
              <input type="number" min="0" max="2080" step=".01" name="hours_worked" value={{hours_worked}}>
            </p>
            <p class="pull-right">
              <label for="annual_target"><span class="tool" data-tip="Minimum number of PYH hours required to work per calendar year (e.g. 1790)." tabindex="1">annual minimum
              </label>
              <input type="number" min="0" max="2080" name="annual_target" value={{annual_target}}>
            </p>
          </li>

          <li>
            <p class="left">
              <label for="hours_per_day"><span class="tool" data-tip="The number of hours per day that you expect to work (e.g. 8, or 8.5)." tabindex="1">hours per day
              </label>
              <input type="number" min="1" max="14" step=".01" name="hours_per_day" value={{hours_per_day}}>
            </p>
            <p class="pull-right" style="padding-right: 41px;">
              <label for="hours_per_day"><span class="tool" data-tip="Check this box if you want to calculate values including hours worked today." tabindex="1">include today's hours
              </label>
              <input type="checkbox" name="include_today" value="checked" style="width: auto;" {{checked}}>
            </p>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <table style="width:100%">
              <tr>
                <th>days off remaining</th>
                <td>{{days_off}}</td>
              </tr>
              <tr>
                <th>federal holidays remaining</th>
                <td>{{holidays}}</td>
              </tr>
              <tr>
                <th>workable days remaining</th>
                <td>{{workable_days}}</td>
              </tr>
            </table>
          </li>

          <li>
            <input class="btn btn-submit" type="submit" value="Calculate">
            <small>or press <strong>enter</strong></small>
          </li>

        </ul>
      </form>
    </div>
  </div>

</body>

</html>
