<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132483534-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-132483534-1');
  </script>
  <meta charset="UTF-8">
  <link rel="icon" href="static/favicon.png" type="image/x-icon">
  <title>PYH Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/main.css" />

  <script>
    window.console = window.console || function(t) {};
  </script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
  </script>
</head>

<body translate="no">
  <div class="container">
    <div class="row header">
      <h1>PYH Calculator &nbsp;</h1>
      <h3>A simple tool to help with budgeting productive year hours (PYH).</h3>
    </div>
    <div class="row body">
      <form method="POST" action=".">
        <ul>

          <li>
            <p class="left">
              <label for="hours_worked">PYH hours worked (YTD)</label>
              <input type="number" min="0" step=".01" name="hours_worked" placeholder={{hours_worked}}>
            </p>
            <p class="pull-right">
              <label for="annual_target">annual PYH minimum</label>
              <input type="number" min="0 "name="annual_target" placeholder={{annual_target}}>
            </p>
          </li>

          <li>
            <p>
              <label for="hours_per_day">hours per day</label>
              <input type="number" min="1" max="12" step=".01" name="hours_per_day" placeholder={{hours_per_day}}>
            </p>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <table style="width:100%">
              <tr>
                <th>days off remaining</th>
                <td>{{days_off}}</td>
              </tr>
              <tr>
                <th>holidays remaining</th>
                <td>{{holidays}}</td>
              </tr>
              <tr>
                <th>workable days remaining</th>
                <td>{{workable_days}}</td>
              </tr>
            </table>

          </li>

          <li>
            <input class="btn btn-submit" type="submit" value="Calculate">
            <small>or press <strong>enter</strong></small>
          </li>

        </ul>
      </form>
    </div>
  </div>

</body>

</html>
